
*.bluej

*.TXT

*.ctxt

*.class
doc/resources/inherit.gif
doc/package-list
doc/stylesheet.css
doc/overview-tree.html
doc/overview-summary.html
doc/overview-frame.html
doc/lons/Weight.html
doc/lons/Solution.html
doc/lons/Problem.html
doc/lons/package-tree.html
doc/lons/package-summary.html
doc/lons/package-frame.html
doc/lons/Neighbourhood.html
doc/lons/LONGenerator.html
doc/lons/examples/package-tree.html
doc/lons/examples/package-summary.html
doc/lons/examples/package-frame.html
doc/lons/examples/NKModelProblem.html
doc/lons/examples/IntegerVectorSolution.html
doc/lons/examples/IntegerVectorProblem.html
doc/lons/examples/IntegerVectorNeighbourhood.html
doc/lons/examples/InstrumentedNKModelProblem.html
doc/lons/examples/InstrumentedBinaryHammingNeighbourhood.html
doc/lons/examples/Experiments.html
doc/lons/examples/DiscretisedCEC2013NichingProblem.html
doc/lons/examples/ConcreteIntegerVectorSolution.html
doc/lons/examples/ConcreteBinarySolution.html
doc/lons/examples/BinarySolution.html
doc/lons/examples/BinaryProblem.html
doc/lons/examples/BinaryHammingNeighbourhood.html
doc/lons/EdgeType.html
doc/index.html
doc/index-all.html
doc/help-doc.html
doc/constant-values.html
doc/allclasses-noframe.html
doc/allclasses-frame.html
